/* All */
.app_title {
	display: block;
  font-size: 2.3em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  /* font-weight: bold; */
	text-align: center;
	font-family: Overpass;
	padding-top: 25px;
}

.linkdiv {
-webkit-box-shadow: 5px 2px 15px 1px rgba(0,0,0,0.55);
box-shadow: 5px 2px 15px 1px rgba(0,0,0,0.55);
}

.content-container {
-webkit-box-shadow: 5px 2px 15px 1px rgba(0,0,0,0.55);
box-shadow: 5px 2px 15px 1px rgba(0,0,0,0.55);
}

.small-content-container{
-webkit-box-shadow: 5px 2px 15px 1px rgba(0,0,0,0.55);
box-shadow: 5px 2px 15px 1px rgba(0,0,0,0.55);
}

.small-content-container{
-webkit-box-shadow: 5px 2px 15px 1px rgba(0,0,0,0.55);
box-shadow: 5px 2px 15px 1px rgba(0,0,0,0.55);
}

h4 {
	font-family: Overpass;
	font-weight: bold;
}
/************/
/* AZQ list */
/************/
header{
  display: block;
}

table {
  border: solid 0.1px;
  border-color: grey;
  border-collapse: separate;
  border-style: groove;
  border-bottom: solid black 2px;
  border-radius: 6px;
  font-family: Overpass;
  -moz-border-radius: 6px;
  margin: 0 auto;,
  font-size: 0.85em;
}

th {
  border-spacing: inherit;
  border-color: white;
  border-bottom: solid black 2px;
  border-left: solid white 1px;
  background-color: #6886c5;
  color: rgb(0, 0, 0);
  font-size: 1.5em;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #dee3e2;
  border: solid 0.1px;
  border-style: groove;
  border-color: white;
  font-size: 0.85em;
}

tr:nth-child(odd) {
  background-color: #ffffff;
  border: solid 0.1px;
  border-style: groove;
  border-color: white;
  font-size: 0.85em;
}

#today-update {
  font-family: Overpass;
  font-size: 32px;
  text-align: center;
}

p {
  font-size: 1rem;
  font-family: Overpass;
  text-align: center;
}

/******************/
/* FT information */
/******************/

.myButton {
	box-shadow: 3px 4px 0px 0px #1564ad;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:5px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
  /* position: fixed;
  top: 0;  */
}
.myButton:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.myButton:active {
	position:relative;
	top:1px;
}

/*******************/
/* Lot Information */
/*******************/
/* .para1 {
	padding-left: 7%;
	font-weight: bold;
	font-size: 1.5em;
	font-family: Overpass;
  text-align: left;
} */

.myButton1 { */
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	font-weight:bold;
	padding:8% 45%;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.myButton1:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.myButton1:active {
	position:relative;
	top:1px;
}

.myButton2 {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.myButton2:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.myButton2:active {
	position:relative;
	top:1px;
}

.datadiv {
  text-align: center;
  font-size: 1.5em;
  font-family: Overpass;
  font-weight: bold;
}

.small-content-container .row {
					  margin: 0;
					}
